{% extends "base.html" %}

{% block title %}
        <title>About | Dacko Web Design</title>
{% endblock %}

{% block content %}
        <div id="pageID" data-page='about'></div>
        <div class="row">
            <div class="small-12 medium-7 columns">
                <h2>Why You?</h2>
                <p>There are 3 ways to get a website:</p>
                <ul>
                    <li>Hire a proffesional web developer, get an awesome website for just over &pound500.</li>
                    <li>Use a "build it yourself" service and adjust your plans to their tacky template for a monthly price.</li>
                    <li>Spend the next few years mastering web design and development and make a website for yourself.</li>
                </ul>
                <p>I provide a fourth alternative. I will create a website for you exactly the way you want it. You will be able to dictate every little detail such as the colour of head lines, the font, the style of the bullet points, the layout on a large monitor, the layout on a small monitor, the background. Even the type of cursor you want your website to use can be changed. You will have to make no compromises. If you can imagine it and it's possible, I can design it.
                </p>
                <p>You will not find this level or control on any online service as no one could possibly predict everything that people would want changed. By having the website made specially for you, there is an infinite amount of possibilities and designs that can be created. Your website will be original and completely yours. It will be a piece of your identity which you can share with others.</p>
            </div>
            <div class="small-12 medium-5 columns">
                <h2>Who Are You?</h2>
                <p>My name is Michal Dacko. I learned to create websites about 4 years ago and have been learning more about that since then. It's my hobby. I feel like I have now reached a stage at which I can start developing websites that can actually be shown to others.</p>
                <p>Over the time I have learned how to create many different features ranging from simple slide-shows and contact forms to things such as online stores. At this stage I can probably create a simple website for you and have it look and feel exactly the way you want it.</p>
                <p>I've always been dedicated to my hobbies and I guarantee that I will not keep you waiting for longer than I need. Being passionate about web design and development means that I enjoy working on these projects and commit much of my free time to them.</p>
                <a href="/portfolio" class="small button round">Look At My Work</a>
            </div>
        </div>
        <hr />
        <div class="row centerIt">
            <p>If you want to know more please visit the <a href="/pages/faq/" class="tiny button round">FAQ</a> or <a class="tiny button round" href="/contact/">Contact Me</a>.<p>
        </div>
{% endblock %}

{% block after %}
{% endblock %}