{% extends "base.html" %}

{% block title %}
        <title>Thank You | Dacko Web Design</title>
{% endblock %}

{% block content %}
        <div id="pageID" data-page='contact'></div>
        <div class="row">
            <div class="small-12 columns centerIt">
                <div data-alert class="alert-box success">
                    <h2>Thank You</h2>
                    <p>Your form has been succesfully saved and I will be having a look it it over the next 2 days.</p>
                    <p>Start checking your email...</p>
                </div>
            </div>
        </div>
{% endblock %}